.field {
    width: 100%;
}

.field label {
    display: block;
    margin-bottom: 8px;
}

.field input {
    background: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    border: none;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 16px;
}
