.team {
    text-align: center;
    padding: 32px;
    width: 100%;
}

.team h3 {
    font-size: 1.5rem;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.team .teammates {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 20px;
    flex-wrap: wrap;
}
